$lightShade:#E8DBE7; // #F5F6F4;
$lightAcc: #7E1C6F; //#7F8CAB;
$mainCol: #3F5FA5; //#46106D;
$darkAcc: #431D3C; // #AA4A5F;
$darkShade: #171826; //#1C121D;

@import "./about";


@mixin flexCenter($direction){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;;
}
@mixin contentDiv{
    background-color: $darkAcc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
@mixin hover($color, $opacity){
    transition: 0.5s;
    border: $lightAcc;
    &:hover, &:focus{
        background-color:rgba($color, $opacity);
        border-left:4px solid $lightAcc;
        border-right:4px solid $lightAcc;
        outline: none;
        cursor: pointer;
    }
}
@mixin portfolioImage($id){
    background-image: url(../images/#{$id}_purple.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 240px;
    &:hover{
        width: 210px;
        background-image: url(../images/#{$id}_color.png);
    }
}
body{
    background-color: $darkShade;
    background-image: url("./bg_bggenerator_com.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $lightShade;
    margin: 0;
    font-family: 'El Messiri', sans-serif;
    p{
        font-family: 'Raleway', sans-serif;
    }
    a{
        color: $lightShade;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
    }
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: $lightShade 2px solid;
    position: sticky;
    top: 0;
    background-color: $darkShade;
    width: 100%;
    a{
        padding: 0px 15px;
        min-width: 62px;
        font-family: "El Messiri", sans-serif;
        @include hover($lightAcc, 0.5);
    }
    nav{
        display:flex;
        justify-content: space-evenly;
        width: 30%;
    }
}
.firstPage{
    height: 100%;
    @include flexCenter(column);
    div{
        width: 300px;
        @include contentDiv();
    }
}
.about{
    @extend .firstPage;
    div{
        width: 80%;
        margin: 20px auto;
    }
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
    div{
        @include contentDiv();
        display: flex;
        flex-direction: column;
        h1{
            text-align: center;
            margin-top: 0;
        }
        a{
            @include hover($lightShade, 0.5);
            &:hover, &:focus{
                color: white;
            }
        }
    }
}
.portfolio{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .project{
        @include contentDiv();
        padding-top: 0;
        justify-self: center;
        text-align: center;
        height: 300px;
        width: 200px;
        h3{
            margin-top: 5px;
        }
        p{
            text-align: left;
        }
        a{
            display: flex;
            align-items: space-evenly;
            @include hover($lightAcc, 0.7);
            width: 30%;
        }
    }
    .yatzy{
        @include portfolioImage(yatzy);
        @include hover($darkAcc, 0.7);
    }
    .quiz{
        @include portfolioImage(quiz);
        @include hover($darkAcc, 0.7);
    }
    .ACME{
        @include portfolioImage(ACME);
        @include hover($darkAcc, 0.7);
    }
    .memory{
        @include portfolioImage(memory);
        @include hover($darkAcc, 0.7);
        
    }
    .show{
        //pointer-events: none;
        a{
            @include hover($lightShade, 0.5);
            &:hover, &:focus{
                color: white;
            }
        }
        width: 80%;
        height: auto;
        background-image: none;
        grid-column-start: 1;
        grid-column: span 4;
    }
    .hide{
        display: none;
    }
}
@media screen and (min-width: 1240px){
    .portfolio{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 930px){
    .portfolio{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 580px){
    .portfolio{
        grid-template-columns: 1fr;
    }
}
@media screen and (orientation: portrait){
    //nav blir hamburgermeny
    //mindre height portfolio
}