body {
  background-color: #171826;
  background-image: url("./bg_bggenerator_com.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #E8DBE7;
  margin: 0;
  font-family: 'El Messiri', sans-serif;
  /* font-family: 'Amatic SC', cursive;
    font-size: 1.5em; */
}

body p {
  font-family: 'Raleway', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: #E8DBE7 2px solid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #171826;
  width: 100%;
}

header a {
  color: #E8DBE7;
  text-decoration: none;
  padding: 0px 15px;
  min-width: 62px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: #7E1C6F;
}

header a:hover, header a:focus {
  background-color: rgba(126, 28, 111, 0.5);
  border-left: 4px solid #7E1C6F;
  border-right: 4px solid #7E1C6F;
  outline: none;
  cursor: pointer;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 30%;
}

.firstPage, .about, .contact {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstPage div, .about div, .contact div {
  width: 300px;
  background-color: #431D3C;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.about div {
  width: 80%;
  margin: 20px auto;
}

.portfolio {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.portfolio .project {
  background-color: #431D3C;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  padding-top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: #7E1C6F;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  height: 300px;
  width: 200px;
}

.portfolio .project:hover, .portfolio .project:focus {
  background-color: rgba(67, 29, 60, 0.7);
  border-left: 4px solid #7E1C6F;
  border-right: 4px solid #7E1C6F;
  outline: none;
  cursor: pointer;
}

.portfolio .project h3 {
  margin-top: 5px;
}

.portfolio .yatzy {
  background-image: url(../images/yatzy_purple.png);
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio .yatzy:hover {
  width: 210px;
  background-image: url(../images/yatzy_color.png);
}

.portfolio .quiz {
  background-image: url(../images/quiz_purple.png);
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio .quiz:hover {
  width: 210px;
  background-image: url(../images/quiz_color.png);
}

.portfolio .ACME {
  background-image: url(../images/ACME_purple.png);
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio .ACME:hover {
  width: 210px;
  background-image: url(../images/ACME_color.png);
}

.portfolio .memory {
  background-image: url(../images/memory_purple.png);
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio .memory:hover {
  width: 210px;
  background-image: url(../images/memory_color.png);
}

@media screen and (min-width: 1240px) {
  .portfolio {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 930px) {
  .portfolio {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 580px) {
  .portfolio {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */