.firstPage {
  height: 100%;
}

.firstPage div h1 {
  font-size: 4em;
  text-align: center;
}

.firstPage div h3 {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  text-align: center;
}

.about {
  height: 100%;
}

.about div {
  background-color: #431D3C;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 80%;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
}

.about div p {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.about div img {
  -ms-grid-row: 2;
      grid-row-start: 2;
  width: 95%;
  margin-left: 20px;
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 40px;
}

.contact div {
  background-color: #431D3C;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact div h1 {
  text-align: center;
  margin-top: 0;
}

.contact div a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: #7E1C6F;
}

.contact div a:hover, .contact div a:focus {
  background-color: rgba(232, 219, 231, 0.5);
  border-left: 4px solid #7E1C6F;
  border-right: 4px solid #7E1C6F;
  outline: none;
  cursor: pointer;
}

.contact div a:hover, .contact div a:focus {
  color: white;
}

.portfolio {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 300px);
}

.portfolio .project {
  background-color: #431D3C;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  padding-top: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  height: 300px;
  width: 200px;
}

.portfolio .project h3 {
  margin-top: 5px;
}

.portfolio .project p {
  text-align: left;
}

.portfolio .project a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: #7E1C6F;
  width: 30%;
}

.portfolio .project a:hover, .portfolio .project a:focus {
  background-color: rgba(126, 28, 111, 0.7);
  border-left: 4px solid #7E1C6F;
  border-right: 4px solid #7E1C6F;
  outline: none;
  cursor: pointer;
}

.portfolio .yatzy {
  background-image: url(../images/yatzy_purple.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 240px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: #7E1C6F;
}

.portfolio .yatzy:hover, .portfolio .yatzy:focus {
  width: 210px;
  background-image: url(../images/yatzy_color.png);
}

.portfolio .yatzy:hover, .portfolio .yatzy:focus {
  background-color: rgba(67, 29, 60, 0.7);
  border-left: 4px solid #7E1C6F;
  border-right: 4px solid #7E1C6F;
  outline: none;
  cursor: pointer;
}

.portfolio .quiz {
  background-image: url(../images/quiz_purple.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 240px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: #7E1C6F;
}

.portfolio .quiz:hover, .portfolio .quiz:focus {
  width: 210px;
  background-image: url(../images/quiz_color.png);
}

.portfolio .quiz:hover, .portfolio .quiz:focus {
  background-color: rgba(67, 29, 60, 0.7);
  border-left: 4px solid #7E1C6F;
  border-right: 4px solid #7E1C6F;
  outline: none;
  cursor: pointer;
}

.portfolio .ACME {
  background-image: url(../images/ACME_purple.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 240px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: #7E1C6F;
}

.portfolio .ACME:hover, .portfolio .ACME:focus {
  width: 210px;
  background-image: url(../images/ACME_color.png);
}

.portfolio .ACME:hover, .portfolio .ACME:focus {
  background-color: rgba(67, 29, 60, 0.7);
  border-left: 4px solid #7E1C6F;
  border-right: 4px solid #7E1C6F;
  outline: none;
  cursor: pointer;
}

.portfolio .memory {
  background-image: url(../images/memory_purple.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 240px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: #7E1C6F;
}

.portfolio .memory:hover, .portfolio .memory:focus {
  width: 210px;
  background-image: url(../images/memory_color.png);
}

.portfolio .memory:hover, .portfolio .memory:focus {
  background-color: rgba(67, 29, 60, 0.7);
  border-left: 4px solid #7E1C6F;
  border-right: 4px solid #7E1C6F;
  outline: none;
  cursor: pointer;
}

.portfolio .show {
  width: 80%;
  height: auto;
  background-image: none;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column: span 4;
}

.portfolio .show:focus {
  outline: none;
}

.portfolio .show a {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: #7E1C6F;
}

.portfolio .show a:hover, .portfolio .show a:focus {
  background-color: rgba(232, 219, 231, 0.5);
  border-left: 4px solid #7E1C6F;
  border-right: 4px solid #7E1C6F;
  outline: none;
  cursor: pointer;
}

.portfolio .show a:hover, .portfolio .show a:focus {
  color: white;
}

.portfolio .show figure {
  margin: 10px;
  float: right;
}

.portfolio .show figure img {
  width: 300px;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.portfolio .show figure img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.portfolio .show figure .memoryImg {
  width: 400px;
}

.portfolio .show figure .acmeImg {
  width: 100%;
}

.portfolio .show figure .acmeImg:hover {
  -webkit-transform: none;
          transform: none;
}

.portfolio .hide {
  display: none;
}

body {
  /* ---Background--- */
  background-color: #171826;
  background-image: url("./bg_bggenerator_com.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  /* ---Text--- */
  color: #E8DBE7;
  font-family: 'El Messiri', sans-serif;
  line-height: 1.5;
}

body p {
  font-family: 'Raleway', sans-serif;
}

body a {
  color: #E8DBE7;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  /* ---Appearence--- */
  background-color: #171826;
  border-bottom: #E8DBE7 2px solid;
  /* ---Position/Display--- */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  /* ---Text--- */
}

header nav {
  height: 66.77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  padding: 18.5px 15px;
  min-width: 62px;
  font-family: "El Messiri", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: #7E1C6F;
}

header a:hover, header a:focus {
  background-color: rgba(126, 28, 111, 0.5);
  border-left: 4px solid #7E1C6F;
  border-right: 4px solid #7E1C6F;
  outline: none;
  cursor: pointer;
}

header h3 .portrait {
  display: none;
}

@media screen and (max-width: 800px) {
  .about div img {
    -ms-grid-row: 3;
        grid-row-start: 3;
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  header h3 .landscape {
    display: none;
  }
  header h3 .portrait {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 15px;
    top: 0;
    font-size: 1.5em;
    padding: 12px 15px;
  }
  header nav {
    position: relative;
    /* ---Opening hamburger menu--- */
  }
  header nav .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  header nav .hamburger .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  header nav .nav-links {
    position: fixed;
    background-color: #171826;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: none;
  }
  header nav .nav-links.open {
    pointer-events: all;
    position: relative;
    top: 133.54px;
    width: 273px;
  }
  header nav .nav-links.open a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: #7E1C6F;
    text-align: center;
    /* padding: 18.5px 90px;
                    width: 273px;
                    max-width: 273px; */
  }
  header nav .nav-links.open a:hover, header nav .nav-links.open a:focus {
    background-color: rgba(126, 28, 111, 0.5);
    border-left: 4px solid #7E1C6F;
    border-right: 4px solid #7E1C6F;
    outline: none;
    cursor: pointer;
  }
  header nav nav.open {
    width: 50%;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact div {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */